{% extends 'dashboard/dashboard.html' %}


{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title text-center">Products</h4>
                                <p class="category">
                                    <a href="{% url 'dashboard:eshop_order_create' %}"
                                       class="btn btn-success">Create Order
                                    </a>
                                </p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                    <table class="table table-striped">
                                        <thead>
                                        <th></th>
                                        <th>ID</th>
                                        <th>Date</th>
                                        <th>Name</th>
                                        <th>Costumer</th>
                                        <th>Status</th>
                                        <th>Printed</th>
                                        <th>Price</th>
                                        </thead>
                                        <tbody>
                                            {% for order in object_list %}
                                            <tr>
                                                <td>
                                                    <div class="red checkbox">
                                                        <input id="de_check_active" name="choice_name" type="checkbox" value="{{ order.id }}">
                                                    </div>
                                                </td>
                                                <td>{{ order.id }}</td>
                                                <td>{{ order.date_created|date }}</td>
                                                <td><a href="{% url 'dashboard:eshop_order_edit' order.id  %}">{{ order }}</a></td>
                                                <td>{{ order.costumer_account }}</td>
                                                <td>{{ order.get_status_display }}</td>
                                                <td>{{ order.is_printed }}</td>
                                                <td>{{ order.tag_final_price }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                </div>

                <div class="col-md-4">
                    <div class="card">
                       <div class="header">
                            <h4>Filters</h4>
                       </div>
                       <div class="content">
                           <form method="get">
                               <div class="pagination">
                                   <input type='text' name='page' value='1' hidden>
                                   <span class="step-links">
                                       {% if page_obj.has_previous %}
                                            <button class="btn btn-primary" type="submit" name='page' value="1">First Page</button>
                                            <button class="btn btn-primary" type="submit" name="page" value="{{ page_obj.previous_page_number }}">Previous</button>
                                       {% endif %}
                                       <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
                                       {%  if page_obj.has_next %}
                                            <button class="btn btn-primary" type='submit' name="page" value="{{ page_obj.next_page_number }}">Next</button> 
                                       {% endif %}
                                   </span>
                               </div>
                               <div class="form-group">
                                   <input type="text" {% if search_name %} value="{{ search_name }}" placeholder="{{ search_name}}"{% else %} placeholder="Search" {% endif %}
                                           class="form-control" name="search_name"
                                   />
                               </div>
                               <div class="checkbox">
                                   <input id="printed_name" name="printed_name" type="checkbox" value="1" {% if printed_name %} checked {% endif %}>
                                   <label for="printed_name">Not Printed</label>
                               </div>
                               <div class="checkbox">
                                   <input id="paid_name" name="paid_name" type="checkbox" value="1"{% if paid_name %} checked {% endif %} >
                                   <label for="paid_name"> Not Paid</label>
                               </div>

                               <div id="accordion" role="tablist" aria-multiselectable="true">
                                   <div class="card">
                                       <div class="card-header" role="tab" id="headingTwo">
                                           <h6 class="mb-0">
                                               <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                                  href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                   Status
                                               </a>
                                           </h6>
                                       </div>
                                       <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                                           <div class="card-block">
                                               {% for status in status_list %}
                                                   {% if status.0|stringformat:"s" in status_name %}
                                                   <div class="checkbox">
                                                       <input name="status_name" value="{{ status.0 }}" id="checkbox1" type="checkbox" checked>
                                                       <label for="checkbox1">
                                                           {{ status.1 }}
                                                       </label>
                                                   </div>
                                                   {% else %}
                                                   <div class="checkbox">
                                                       <input name="status_name" value="{{ status.0 }}" id="checkbox1" type="checkbox">
                                                       <label for="checkbox1">
                                                           {{ status.1 }}
                                                       </label>
                                                   </div>
                                                   {% endif %}
                                               {% endfor %}
                                           </div>
                                       </div>
                                   </div>
                                   <div class="card">
                                       <div class="card-header" role="tab" id="headingOne">
                                           <h6 class="mb-0">
                                               <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                                  href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                   Payment Type
                                               </a>
                                           </h6>
                                       </div>
                                       <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                                           <div class="card-block">
                                               {% for payment_method in payment_method_list %}
                                                   {% if payment_method.id|stringformat:"s" in payment_name %}
                                                   <div class="checkbox">
                                                       <input name="payment_name" value="{{ payment_method.id }}"
                                                              id="checkbox1" type="checkbox" checked>
                                                       <label for="checkbox1">
                                                           {{ payment_method }}
                                                       </label>
                                                   </div>
                                                   {% else %}
                                                   <div class="checkbox">
                                                       <input name="payment_name" value="{{ payment_method.id }}"
                                                              id="checkbox1" type="checkbox">
                                                       <label for="checkbox1">
                                                           {{ payment_method }}
                                                       </label>
                                                   </div>
                                                   {% endif %}
                                               {% endfor %}
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <button type="submit" class="btn btn-primary">Submit</button>
                               <a href="{{ request.path }}" class="btn btn-danger">Reset Filters</a>
                           </form>
                       </div>
                    </div>
               </div>
           </div>
       </div>
   </div>

{% endblock %}