{% extends 'dashboard/dashboard.html' %}


{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                        <div class="card">
                            <div class="header">
                                <h4 class="title text-center">Shippings</h4>
                                <p class="category">
                                    <a href="{% url 'dashboard:shipping_create_view' %}"
                                       class="btn btn-success">Create Shipping 
                                    </a>
                                </p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Ordering</th>
                                                <th>Title</th>
                                                <th>Status</th>
                                                <th>Order Price Limit</th>
                                                <th>Value</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for order in object_list %}
                                            <tr>
                                                <td>{{ order.ordering }}</td>
                                                <td>{{ order }}</td>
                                                <td>{{ order.status }}</td>
                                                <td>{{ order.value_limit }}</td>
                                                <td>{{ order.value }}</td>
                                                <td><a class="btn btn-primary" href="{% url 'dashboard:shipping_edit_view' order.id %}">Edit</a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                            </div>
                        </div>
                </div>

                <div class="col-md-4">
                    {% if messages %}
                        <div class="card">
                            <div class="header">
                                {% for message in messages %}
                                    <p class="text-center">{{ message }}</p>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
               </div>
           </div>
       </div>
   </div>

{% endblock %}