<div class="sidebar" data-background-color="white" data-active-color="danger">
    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="{% url 'dashboard:home' %}" class="simple-text">Demo Admin</a>
        </div>

        <ul class="nav">
            <li {% if dashboard %}class="active" {% endif %}>
                <a href="{% url 'dashboard:home' %}">
                    <i class="ti-panel"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li>
                <a href="{% url 'dashboard:site_view' %}">
                    <i class="ti-panel"></i>
                    <p>Site Settings</p>
                </a>
            </li>
            <li {% if dashboard %}class="active" {% endif %}>
                <a href="{% url 'dashboard:warehouse_home' %}">
                    <i class="ti-panel"></i>
                    <p>Warehouse Home</p>
                </a>
            </li>
        </ul>
    </div>
</div>