{% extends 'dash_ware/index.html' %} {% load static %}

{% block content %}
   <div class="content">
       <div class="container-fluid">
           <div class="row">
               <div class="col-md-8">
                   <div class="card">
                       <div class="header">
                           <h4 class="title text-center">Vendors List</h4>
                           <p class="category"><a href="{% url 'inventory:vendor_create' %}" class="btn btn-success">Create New Vendor</a></p>
                       </div>
                       <div class="content table-responsive table-full-width">
                           <table class="table table-striped">
                               <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Title</th>
                                        <th>Vendor</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <th>Value</th>
                                        <th>Paid Value</th>
                                        <th>Action</th>
                                    </tr>

                               </thead>
                               <tbody>
                                {% for object in object_list %}
                                    <tr>
                                        <td>{{ object.id }}</td>
                                        <td>{{ object.code }}</td>
                                        <td>{{ object.vendor }}</td>
                                        <td>{{ object.date_created|date }}</td>
                                        <td>{{ object.tag_is_paid }}</td>
                                        <td>{{ object.tag_all_values.4 }}</td>
                                        <td>{{ object.tag_paid_value }}</td>
                                        <td>
                                            <a class="btn btn-info" href="{% url 'inventory:ware_order_paid_detail' object.id %}">Details</a>
                                            <a class="btn btn-success" href="{% url 'inventory:ware_order_paid' object.id %}">Paid</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                               </tbody>
                           </table>
                       </div>
                   </div>
               </div>
               <div class="col-md-4">
                    <div class="card">
                       <div class="header">
                            <h4>Filters</h4>
                       </div>
                       <div class="content">
                           <form method="get">
                                <div class="pagination">
                                    <span class="step-links">
                                        {% if page_obj.has_previous %}
                                            <button type="submit" name='page' value="1" class="btn btn-primary">First Page</button>
                                            <button type="submit" name='page' value="{{ page_obj.previous_page_number }}" class="btn btn-primary">Previous</button>
                                        {% endif %}
                                    
                                            <span class="current">
                                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                            </span>
                                    
                                            {% if page_obj.has_next %}
                                                <button type="submit" name='page' value="{{ page_obj.next_page_number }}" class="btn btn-primary">Next</button>
                                                <button type="submit" name='page' value="{{ page_obj.paginator.num_pages }}" class="btn btn-primary">Last Page</button>
                                            
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="checkbox">
                                        <input name="paid_name" value="h"
                                            id="checkbox1" type="checkbox" {% if paid_name %} checked {% endif %}>
                                        <label for="checkbox1">
                                            Not Paid
                                        </label>
                                    </div>
                               <div class="form-group">
                                   <input type="text" {% if search_name %}value=""{% endif %}
                                          placeholder="Search" class="form-control" name="search_name"
                                   />
                               </div>
                               <div class="card">
                                   <div class="header">
                                       <h5 class="title text-center">Date Start Date End</h5>
                                   </div>
                                   <div class="content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input name='date_start' type='date' class="form-control">
                                            </div>
                                            <div class="col-md-6">
                                                <input name='date_end' type='date' class="form-control">
                                            </div>
                                        </div>
                                   </div>
                               </div>
                               
                                <br><br>
                               <div id="accordion" role="tablist" aria-multiselectable="true">
                                   <div class="card">
                                       <div class="card-header" role="tab" id="headingOne">
                                           <h6 class="mb-0">
                                               <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                                  href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                   Vendors
                                               </a>
                                           </h6>
                                       </div>
                                       <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                                           <div class="card-block">
                                               {% for vendor in vendors %}
                                                   {% if vendor.id|stringformat:"s" in vendor_name %}
                                                   <div class="checkbox">
                                                       <input name="vendor_name" value="{{ vendor.id }}"
                                                              id="checkbox1" type="checkbox" checked>
                                                       <label for="checkbox1">
                                                           {{ vendor }}
                                                       </label>
                                                   </div>
                                                   {% else %}
                                                   <div class="checkbox">
                                                       <input name="vendor_name" value="{{ vendor.id }}"
                                                              id="checkbox1" type="checkbox">
                                                       <label for="checkbox1">
                                                           {{ vendor }}
                                                       </label>
                                                   </div>
                                                   {% endif %}
                                               {% endfor %}
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <button type="submit" class="btn btn-primary">Submit</button>
                               <a href="{{ request.path }}" class="btn btn-danger">Reset Filters</a>
                           </form>
                       </div>
                    </div>
               </div>
           </div>
       </div>
   </div>
{% endblock %}