django==2.0
django-widget-tweaks == 1.4.1
python-slugify
django-model-utils==3.0.0
django-mptt==0.9.0
django-rest-framework==0.1.0
django-robots==3.0
django-storages==1.5.2
django-tinymce==2.6.0
django-webmaster-verification==0.3.0
django-webpack-loader==0.5.0
django-widget-tweaks==1.4.1
djangorestframework==3.7.7
djangorestframework-jwt==1.11.0
docutils==0.13.1
gunicorn==19.7.1
mailchimp==2.0.9
Markdown==2.6.8
matplotlib==2.1.0
more-itertools==3.2.0
numpy==1.13.3
oauthlib==2.0.2
olefile==0.44
python-dateutil==2.6.0
python-decouple==3.0
python-social-auth==0.3.6
python3-memcached==1.51
python3-openid==3.1.0
virtualenv==15.1.0
whitenoise==3.3.0

