{% extends "billings/index.html" %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info">
                            <span>{{ message }}</span>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="header"><h4>Payroll Invoice</h4></div>
                    <a href="{% url 'billings:create_payroll' %}" class="btn btn-success">Create New Payroll Invoice</a>
                    <div class="content">
                        <form method="post">{% csrf_token %}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th><div class="form-check">
                                        <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" id="checkall"
                                               name='checkall' onclick="check_uncheck_checkbox(this.checked);">Check All
                                        </label>
                                    </div>
                                    </th>
                                    <th>Date Expired</th>
                                    <th>Person</th>
                                    <th>Type</th>
                                    <th>Payment Method</th>
                                    <th>Value</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for invoice in object_list %}
                                    <tr>
                                        <td>{{ forloop.counter }} <input type="checkbox"  name="invoice_{{ invoice.id }}"></td>
                                        <td>{{ invoice.date_expired }}</td>
                                        <td>{{ invoice.person }}</td>
                                        <td>{{ invoice.get_category_display }}</td>
                                        <td>{{ invoice.get_payment_method_display }}</td>
                                        <td>{{ invoice.tag_value }}</td>
                                        <td>{% if invoice.is_paid %}{{ invoice.tag_is_paid }}{% else %}<a href="{% url 'billings:fast_payroll_paid' invoice.id %}" class="btn btn-success">Paid</a> {% endif %}</td>
                                        <td>
                                            <a href="{% url 'billings:edit_payroll' invoice.id %}" class="btn btn-info">Edit</a>
                                            
                                            <a href="" class="btn btn-warning">Delete </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td><p>
                                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                                 Create Duplicate
                                             </button>
                                         </p>
                                         <div class="collapse" id="collapseExample">
                                             <div class="card card-body">
                                                <div class="form-group">
                                                    <label for="exampleFormControlSelect1">Choose Month</label>
                                                    <select name="months" class="form-control" id="exampleFormControlSelect1">
                                                        <option>1</option>
                                                        <option>2</option>
                                                        <option>3</option>
                                                        <option>4</option>
                                                        <option>5</option>
                                                    </select>
                                                </div>
                                             </div>
                                             <div class="form-check">
                                                <input name="check_paid" class="form-check-input" type="checkbox" value="p" id="defaultCheck1">
                                                <label class="form-check-label" for="defaultCheck1">
                                                      Paid
                                                </label>
                                            </div>
                                            <button type="submit" name="create_mass" class="btn btn-info">Save</button>
                                         </div> 
                                    </td>
                                    <td><button type='submit' class="btn btn-info" name='mass_paid'>Mass Paid</button> </td>
                                    <td>
                                </tr>
                            </tfoot>
                        </table>
                        
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="header">Actions</div>
                    <div class="content">
                        <a href="{% url 'billings:create_person' %}" class="btn btn-success">Create New Person</a>
                        <a href="{% url 'billings:create_occup' %}" class="btn btn-raised btn-success">Create New Occupation</a>
                        <br>
                        <a href="{% url 'reports:payroll_page' %}" class="btn">Reports Page</a>
                    </div>
                </div>
                <div class="card">
                    <div class='header'>Filters</div>
                    <div class="content">
                        <form method="get">
                            <div class="pagination">
                                <span class="step-links">
                                    {% if page_obj.has_previous %}<button type="number" class="btn" name='page' value='1'>First</button>
                                    <button type="number" class="btn" name='page' value='{{ page_obj.previous_page_number }}'>{{ page_obj.previous_page_number }}</button>
                                    {% endif %}
                                    
                                    <span class="current">
                                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                    </span>
                                    
                                    {% if page_obj.has_next %}
                                        <button type="number" class="btn" name='page' value='{{ page_obj.next_page_number }}'>{{ page_obj.next_page_number }}</button>
                                        <button type="number" class="btn" name='page' value='{{ page_obj.paginator.num_pages }}'>Last</button>
                                    {% endif %}
                                </span>
                            </div>
                            <br><br>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" name='paid_name' value="p" {% if paid_name %} checked {% endif %}>Not Paid
                                </label>
                            </div>
                            <h5>Select Category</h5>
                            {% for item in categories %}
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" name='cate_name'
                                               value="{{ item.0 }}" {% if item.id|stringformat:"s" in cate_name  %} checked {% endif %}>{{ item.1 }}
                                    </label>
                                </div>
                            {% endfor %}
                            <h5>Select Person</h5>
                            {% for item in persons %}
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" name='person_name'
                                               value="{{ item.id }}" {% if item.id|stringformat:"s" in person_name %} checked {% endif %}>{{ item }}
                                    </label>
                                </div>
                            {% endfor %}
                            <h5>Select Occupation</h5>
                            {% for item in occups %}
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input" name='occup_name'
                                               value="{{ item.id }}" {% if item.id|stringformat:"s" in occup_name %} checked {% endif %}>{{ item }}
                                    </label>
                                </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-success">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

