{% extends 'dashboard/dashboard.html' %} {% load static %}

{% block extra_css %}
<style>
    .modal-backdrop.in {
        filter: alpha(opacity=50);
        /* opacity: .5; */
    }

    .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: auto;
    background-color: #000;
}


</style>
{% endblock %}

{% block submenu %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                </button>
                <a class="navbar-brand" href="{% url 'dashboard:products' %}">Warehouse Orders</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'dashboard:warehouse_home' %}">
                            <i class="ti-panel"></i>
								<p>Orders</p>
                            </a>
                        </li>
                         <li>
                            <a href="{% url 'inventory:vendor_list' %}">
                                <i class="ti-panel"></i>
								<p>Vendors</p>
                            </a>
                        </li>
                         <li>
                            <a href="{% url 'dashboard:brands' %}">
                                <i class="ti-panel"></i>
								<p>Settings</p>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'inventory:payment_list' %}">
                                <i class="ti-panel"></i>
								<p>Payments</p>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'dashboard:sizes' %}">
                                <i class="ti-panel"></i>
								<p>Reports</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
{% endblock %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <form method='post'>{% csrf_token %}

                        <div class="card">
                            <div class="header">
                                <h4 class="title text-center">Warehouse Orders</h4>
                                <p class="category">
                                    <a href="{% url 'dashboard:warehouse_create_order' %}"
                                       class="btn btn-success">Create New Order
                                    </a>
                                </p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th>Date</th>
                                                <th>Code</th>
                                                <th>Vendor</th>
                                                <th>Value</th>
                                                <th>Details</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for order in object_list %}
                                            <tr>
                                                <td>{{ forloop.counter }}</td>
                                                <td>{{ order.date_created|date }}</td>
                                                <td>{{ order }}</td>
                                                <td>{{ order.vendor }}</td>
                                                <td>{{ order.tag_total_value }}</td>
                                                <td><a href="{% url 'dashboard:warehouse_order_detail' order.id %}" class="btn btn-primary" >Details</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-4">
                    <div class="card">
                       <div class="header">
                            <h4>Filters</h4>
                       </div>
                       <div class="content">
                           <form method="get">
                               <div class="pagination">
                                    <span class="step-links">
                                        {% if page_obj.has_previous %}
                                            <button type="submit" name='page' value="1" class="btn btn-primary">First Page</button>
                                            <button type="submit" name='page' value="{{ page_obj.previous_page_number }}" class="btn btn-primary">Previous</button>
                                        {% endif %}
                                    
                                            <span class="current">
                                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                                            </span>
                                    
                                            {% if page_obj.has_next %}
                                                <button type="submit" name='page' value="{{ page_obj.next_page_number }}" class="btn btn-primary">Next</button>
                                                <button type="submit" name='page' value="{{ page_obj.paginator.num_pages }}" class="btn btn-primary">Last Page</button>
                                            
                                            {% endif %}
                                        </span>
                                    </div>
                               <div class="form-group">
                                   <input type="text" {% if search_name %}value=""{% endif %}
                                          placeholder="Search" class="form-control" name="search_name"
                                   />
                               </div>
                               <div class="card">
                                   <div class="header">
                                       <h5 class="title text-center">Date Start Date End</h5>
                                   </div>
                                   <div class="content">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <input name='date_start' type='date' class="form-control">
                                            </div>
                                            <div class="col-md-6">
                                                <input name='date_end' type='date' class="form-control">
                                            </div>
                                        </div>
                                   </div>
                               </div>
                               
                                <br><br>
                               <div id="accordion" role="tablist" aria-multiselectable="true">
                                   <div class="card">
                                       <div class="card-header" role="tab" id="headingOne">
                                           <h6 class="mb-0">
                                               <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                                  href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                                   Vendors
                                               </a>
                                           </h6>
                                       </div>
                                       <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                                           <div class="card-block">
                                               {% for vendor in vendors %}
                                                   {% if vendor.id|stringformat:"s" in vendor_name %}
                                                   <div class="checkbox">
                                                       <input name="vendor_name" value="{{ vendor.id }}"
                                                              id="checkbox1" type="checkbox" checked>
                                                       <label for="checkbox1">
                                                           {{ vendor }}
                                                       </label>
                                                   </div>
                                                   {% else %}
                                                   <div class="checkbox">
                                                       <input name="vendor_name" value="{{ vendor.id }}"
                                                              id="checkbox1" type="checkbox">
                                                       <label for="checkbox1">
                                                           {{ vendor }}
                                                       </label>
                                                   </div>
                                                   {% endif %}
                                               {% endfor %}
                                           </div>
                                       </div>
                                   </div>
                               </div>
                               <button type="submit" class="btn btn-primary">Submit</button>
                               <a href="{{ request.path }}" class="btn btn-danger">Reset Filters</a>
                           </form>
                       </div>
                    </div>
               </div>
           </div>
       </div>
   </div>

{% endblock %}

{% block extra_js %}
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').trigger('focus')
        });
   </script>

    <script type="text/javascript">
        {% if messages %}
            {% for message in messages %}
                function showNotification(from, align){
                    color = Math.floor((Math.random() * 4) + 1);
                    $.notify({
                        icon: "ti-gift",
                        message: "{{ message }}"
                    }, {
                        type: type[color],
                        timer: 4000,
                        placement: {
                            from: from,
                            align: align
                        }
                    });
                }
            {% endfor %}
        {% endif %}

    </script>
{% endblock %}