
<table class="ui table">
    <thead>
    <tr>
        <th></th>
        <th>Προϊόν</th>
        <th>Τιμή</th>
        <th>Ποσότητα</th>
        <th>Ενέργιες</th>
    </tr>
    </thead>
    <tbody>
    {% for product in object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ product }}</td>
            <td>{{ product.tag_final_price }}</td>
            <td><input id="{{ product.id }}" name="product-{{ product.id }}" type="number" min="1" placeholder="1" value="1"></td>
            <td>
                <button data-url="{% url 'pos:ajax_add_product' object.id product.id %}" data-value="{{ product.id }}"
                        {% if is_sale %}
                            class="ui green button add_product">Add
                        {% else %}
                            class="ui red button add_product">Remove
                        {% endif %}
                </button>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>