<!doctype html> {% load static %}
<html lang="en">
<head>
    <title>{{ instance.costumer_account }}</title>
    {% include 'dashboard/include/include_css.html' %}
    {% block extra_css %} {% endblock %}
    <style>
            .invoice-title h2, .invoice-title h3 {
                display: inline-block;
            }
            
            .table > tbody > tr > .no-line {
                border-top: none;
            }
            
            .table > thead > tr > .no-line {
                border-bottom: none;
            }
            
            .table > tbody > tr > .thick-line {
                border-top: 2px solid;
            }
    </style>
</head>
<body>
        <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="invoice-title">
                            <h2>Invoice</h2><h3 class="pull-right">Order # 000{{ instance.id }}</h3>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-xs-6">
                                <address>
                                <strong>Billed To:</strong><br>
                                    {{ instance.first_name }} {{ instance.last_name }}<br>
                                    {{ instance.address }}<br>
                                    {{ instance.city }}, {{ instance.zip_code }}<br>
                                    Greece
                                </address>
                            </div>
                            <div class="col-xs-6 text-right">
                                <address>
                                <strong>Shipped To:</strong><br>
                                    {{ instance.first_name }} {{ instance.last_name }}<br>
                                    {{ instance.address }}<br>
                                    {{ instance.city }}, {{ instance.zip_code }}<br>
                                    Greece
                                </address>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6">
                                <address>
                                    <strong>Payment Method:</strong><br>
                                    {{ instance.get_payment_method_display }}<br>
                                    {{ instance.email }}
                                </address>
                            </div>
                            <div class="col-xs-6 text-right">
                                <address>
                                    <strong>Order Date:</strong><br>
                                    {{ instance.date_created|date }}<br><br>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong>Order summary</strong></h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <td><strong>Item</strong></td>
                                                <td class="text-center"><strong>Price</strong></td>
                                                <td class="text-center"><strong>Quantity</strong></td>
                                                <td class="text-right"><strong>Totals</strong></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in instance.retailorderitem_set.all %}
                                                <tr>
                                                    <td>{{ item }}</td>
                                                    <td class="text-center">{{ item.tag_final_price }}</td>
                                                    <td class="text-center">{{ item.qty }}</td>
                                                    <td class="text-right">{{ item.tag_total_price }}</td>
                                                </tr>
                                            {% endfor %}
                                            <tr>
                                                <td class="thick-line"></td>
                                                <td class="thick-line"></td>
                                                <td class="thick-line text-center"><strong>Subtotal</strong></td>
                                                <td class="thick-line text-right">$670.99</td>
                                            </tr>
                                            <tr>
                                                <td class="no-line"></td>
                                                <td class="no-line"></td>
                                                <td class="no-line text-center"><strong>Shipping</strong></td>
                                                <td class="no-line text-right">$15</td>
                                            </tr>
                                            <tr>
                                                <td class="no-line"></td>
                                                <td class="no-line"></td>
                                                <td class="no-line text-center"><strong>Total</strong></td>
                                                <td class="no-line text-right">{{ instance.tag_final_price }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</body>
{% include 'dashboard/include/include_js.html' %}
{% block extra_js %} {% endblock %}
</html>
