{% extends 'dashboard/products_list.html' %} {% load static %} {% load widget_tweaks %}


{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-md-7">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Edit Product</h4>
                    </div>
                    <div class="content">
                        <form method="post">{% csrf_token %}
                            {% for field in form.visible_fields %}
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{ field.label_tag }}</label>
                                        {{ field }}
                                        {% if field.help_text %}
                                            <small class="form-text text-muted">{{ field.help_text }}</small>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            <br>
                            <div class="text-center">
                                <button name="update_" type="submit" class="btn btn-info btn-fill btn-wd">Update</button>
                                <button name="save_" type="submit" class="btn btn-warning btn-fill btn-wd">Save</button>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-5">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Actions</h4>
                    </div>
                    <div class="content">
                        <a href="{% url 'dashboard:copy_product' instance.id %}" class="btn btn-success">Create Copy</a>
                        <a href="" class="btn btn-warning">Delete</a>
                        <br><br>
                        <button class="btn btn-info" id="add_author" onclick="return showAddPopup(this);">Add Brand</button>
                        <button data-href="{% url 'dashboard:category_popup' %}" class="btn btn-info" id="add_category" onclick="return addCat(this);">Add Category</button>
                        <button data-href="" class="btn btn-info" id="add_color" onclick="return addColor(this);">Add Color</button>
                    </div>
                </div>
                <div class="card card-user">
                    <div class="image">
                        <img {% if instance.image %} src="{{ instance.image.url }}"
                                {% else %} src="{% static 'assets/images/no-photo.jpg' %}"
                        {% endif %} alt="..."/>
                    </div>
                    <div class="content">
                        <div class="author">
                            <img class="avatar border-white" {% if instance.image %}
                                 src="{{ instance.image.url }}"
                            {% else %}
                                 src="{% static 'assets/images/no-photo.jpg' %}"
                            {% endif %}  alt="..."
                            />
                            <h4 class="title">{{ instance }}<br />
                                <a href="#"><small>{{ instance.brand|default_if_none:"No Brand Selected" }}</small></a>
                            </h4>
                        </div>
                        <p class="description text-center">
                            {{ instance.category|default_if_none:"No Category Selected" }} <br>
                            {{ instance.color|default_if_none:"No Color Selected" }} <br>
                            {{ instance.supply|default_if_none:"No Vendor Selected" }}
                        </p>
                    </div>
                    <hr>
                    <div class="text-center">
                        <div class="row">
                            <div class="col-md-3 col-md-offset-1">
                                <h5>{{ instance.price }} {{ currency }}<br /><small>Price</small></h5>
                            </div>
                            <div class="col-md-4">
                                <h5>{{ instance.price_discount }} {{ currency }}<br /><small>Discount Price</small></h5>
                            </div>
                            <div class="col-md-3">
                                <h5>{{ instance.price_buy }} {{ currency }}<br /><small>Price Buy</small></h5>
                            </div>
                        </div>
                    </div>
                </div>
                {% if instance.size %}
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Size Chart</h4> <h4 class="title">Add Size <a href="{% url 'dashboard:product_add_sizes' instance.id %}" class="btn btn-info">Add or Edit multiple sizes</a> </h4>
                        </div>
                        <div class="content">
                            <form method="post"> {% csrf_token %}
                                {{ formset_size.management_form }}
                                <table class="table table responsive">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Qty</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for form_size in formset_size %}
                                            <tr>
                                                {% for field in form_size %}
                                                    <td>{{ field }}</td>
                                                {% endfor %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                <button type='submit' class="btn btn-success" name='size_'>Save</button>
                            </form>
                            
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th>Size</th>
                                        <th>Qty</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for size in sizes %}
                                        <tr>
                                            <td>{{ size }}</td>
                                            <td>{{ size.qty }}</td>
                                            <td>
                                                <a href="" class="btn btn-sm btn-primary btn-icon"><i class="fa fa-edit"></i> </a>
                                                <a href="" class="btn btn-sm btn-warning btn-icon"><i class="fa fa-close"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}

                <div class="card">
                    <div class="header">
                        <h4 class="title">Images <a href="{% url 'dashboard:product_add_images' instance.id %}" class="btn btn-info">Add Multiple Images</a> </h4>
                    </div>
                    <div class="content">
                        <ul class="list-unstyled team-members">
                            {% for image in images %}
                            <li>
                                <div class="row">
                                    <div class="col-xs-3">
                                        <div class="avatar">
                                            <img src="{{ image.image.url }}" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        {{ image.image_status }}
                                        <br />
                                        <span class="text-muted"><small>Status: </small>{{ image.tag_status }}</span>
                                    </div>
                                    <div class="col-xs-3 text-right">
                                        <a href="{% url 'dashboard:delete_image' image.id %}" class="btn btn-sm btn-warning btn-icon"><i class="fa fa-close"></i></a>
                                    </div>
                                </div>
                            </li>
                            {% empty %}
                            <li>
                                <p>No images</p>
                            </li>
                            {% endfor %}
                        </ul>
                        <br>
                    </div>
                </div>

                <div class="card">
                    <div class="header">
                        <h4 class="title">Related Products</h4><a href="{% url 'dashboard:product_related_view' instance.id %}" class="btn btn-info">Add Related</a>
                    </div>
                    <div class="content">
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for product in related_products %}
                                    <tr>
                                        <th>{{ forloop.counter }}</th>
                                        <th>{{ product }}</th>
                                        <th><a href="" class="btn btn-warning">Delete</a> </th>
                                    </tr>
                                {% empty %}
                                    <tr>
                                        <td colspan="3">No Related Added</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_js %}
    <script type="text/javascript">
        function showEditPopup(url) {
            var win = window.open(url, "Edit",
                'height=500,width=800,resizable=yes,scrollbars=yes');
            return false;
        }

        function showAddPopup(triggeringLink) {
            console.log('here!');
            var name = triggeringLink.id.replace(/^add_/, '');
            href = '{% url "dashboard:brand_popup" %}';
            var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
            win.focus();
            return false;
        }

        function addCat(triggeringLink) {
            console.log(triggeringLink, this);
            var name = triggeringLink.id.replace(/^add_/, '');
            href = '{% url "dashboard:category_popup" %}';
            var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
            win.focus();
            return false;
        }

        function closePopup(win, newID, newRepr, id) {
            $(id).append('<option value=' + newID + ' selected >' + newRepr + '</option>');
            win.close();
        }

        function addColor(triggeringLink) {
            var name = triggeringLink.id.replace('^add_/', '');
            href = '{% url "dashboard:color_popup" %}';
            var win = window.open(href, name, 'height=500,width=800,resizable=yes,scrollbars=yes');
            win.focus();
            return false;
        }

</script>
{% endblock %}