{% extends 'index.html' %}

{% block down_menu %}

{% endblock %}

{% block content %}
    <div class="row">
        <div style="padding-left: 3%" class="three wide column">
            <h4 class="center aligned header">Παραστατικά Αποθήκης</h4>
            <a href="{% url 'pos:warehouse_in_create' %}" class="ui green button">Παραστατικό Εισαγωγής</a>
            <br><br>
            <a href="" class="ui red button">Παραστατικό Εξαγωγής</a>
        </div>
        <div class="ten wide column">
            <a class="ui big green fluid button" href="{% url 'pos:create_sale' %}">Πωλήσεις</a>
            <table class="ui table">
                <thead>
                     <tr>
                        <th></th>
                        <th>Date</th>
                        <th>Title</th>
                        <th>Seller</th>
                         <th>Costumer</th>
                        <th>Type</th>
                         <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in object_list %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ order.date_created }}</td>
                            <td><a class="ui button" href="{% url 'pos:sales' order.id %}">{{ order.title }}</a></td>
                            <td>{{ order.seller_account|default_if_none:"No seller" }}</td>
                            <td>{{ order.costumer_account|default_if_none:"No costumer" }}</td>
                            <td>{% if order.is_sale %}<label class="ui green label">Πώληση</label> {% else %}<label class="ui label red">Επιστροφή</label> {% endif %} </td>
                            <td>{{ order.tag_final_price }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a class="ui big red fluid button" href="{% url 'pos:create_return_sale' %}">Επιστροφές</a>
        </div>
        <div class="three wide column">
             <h4 class="center aligned header">Παραστατικά Eshop</h4>
            <a href="{% url 'pos:warehouse_in_create' %}" class="ui green button">Παραγγελία Eshop</a>
            <br><br>

        </div>
    </div>





{% endblock content %}
