{% extends 'home/index.html' %} {% load static %}

{% block seo %}
    <title>Demo Ecommerce | {{ seo_title }}</title>
{% endblock %}


{% block content %}
    <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true"
                {% if first_page.image %}
                        style="background-image: url('{{ first_page.image.url }}');">
                {% else %}
                    style="background-image: url('{% static 'home/assets/img/bg6.jpg' %}');">
                {% endif %}
        </div>
        <div class="container">
            <div class="content-center">
                <h1 class="title">{{ seo_title }}</h1>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="section">
            <div class="container">
                    <div class="row">
                            <div class="col-12">
                                <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
                                  {% if instance.category_site.first %}<li class="breadcrumb-item"><a href="#">{{ instance.category_site.first }}</a></li>{% endif %}
                                  <li class="breadcrumb-item active">{{ instance }}</li>
                                </ol>
                            </div>
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert alert-success" role="alert">
                                        <div class="container">
                                            <div class="alert-icon">
                                                <i class="now-ui-icons ui-2_like"></i>
                                            </div>
                                            {{ message}}
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">
                                                <i class="now-ui-icons ui-1_simple-remove"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <br><br>
                <div class="row">
                        <div class="col-md-7 col-sm-6">
                            <div id="carousel">
                                <div id="carousel-example-generic" class="carousel slide" data-interval="false">
                                    <!-- Indicators -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    </ol>
    
                                    <!-- Wrapper for slides -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                            <img {% if instance.image %}
                                            src="{{ instance.image.url }}"
                                            {% else %} src="{% static 'assets/images/no-photo.jpg' %}" {% endif %}
                                            alt="Awesome Image">
                                        </div>
                                    </div>
    
                                    <!-- Controls -->
                                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                                        <span class="fa fa-angle-left"></span>
                                    </a>
                                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                                        <span class="fa fa-angle-right"></span>
                                    </a>
                                </div>
                            </div> <!-- end carousel -->
    
                            </div>
                                <div class="col-md-5 col-sm-6">
                                    <h2>{{ instance }}</h2>
                                    <h4 class="price"><strong>{{ instance.tag_price }}</strong></h4>
                                    <hr />
                                    <p>{{ instance.site_text|default_if_none:"No description added" }}</p>
                                    <span class="label label-default shipping">{{ instance.brand|default_if_none:"No Brand added" }}, {{ instance.tag_site_category }}</span>
                                    <form method='post'> {% csrf_token %}
                                        {{ form }}
                                        <hr />
                                        <button type='submit' class="btn btn-danger btn-fill btn-lg btn-block">Add to Cart &nbsp;<i class="fa fa-chevron-right"></i></button>
                                    </form>
                                    <hr />
                                    
                                </div>
                            </div>
                    </div>
                </div>
        
                <div class="section section-nude">
                    <div class="container">
                        <div class="row details-row">
                            <div class="col-md-4 col-sm-4">
                               <div class="info">
                                    <div class="icon">
                                        <i class="fa fa-truck"></i>
                                    </div>
                                    <div class="description">
                                        <h4> 2 Days Delivery </h4>
                                        <p>Spend your time generating new ideas. You don't have to think of implementing anymore.</p>
                                    </div>
                               </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                               <div class="info">
                                    <div class="icon">
                                        <i class="fa fa-history"></i>
                                    </div>
                                    <div class="description">
                                        <h4> Refundable Policy </h4>
                                        <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient.</p>
                                    </div>
                               </div>
                            </div>
                            <div class="col-md-4 col-sm-4">
                               <div class="info">
                                    <div class="icon">
                                        <i class="fa fa-heart"></i>
                                    </div>
                                    <div class="description">
                                        <h4> Popular Item </h4>
                                        <p>Choose from a veriety of colors resembling sugar paper pastels.</p>
                                    </div>
                               </div>
                            </div>
                        </div>
                        <hr />
                            <p>What to find out more about how we build our stuff? <a class="link-danger">Learn more.</a></p>
                        <hr />
                        <div class="faq">
                            <h4>Frequently Asked Questions</h4>
                            <div id="acordeon">
                            <div class="panel-group" id="accordion">
                              <div class="panel panel-border panel-default">
                                <a data-toggle="collapse" href="#collapseOne">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                          How do I find out my size?
                                          <i class="fa fa-chevron-down"></i>
                                      </h4>
        
                                    </div>
                                </a>
                                <div id="collapseOne" class="panel-collapse collapse">
                                  <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-border panel-default">
                                <a data-toggle="collapse" href="#collapseTwo">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                          How can I use a coupon I have received?
                                          <i class="fa fa-chevron-down"></i>
                                      </h4>
        
                                    </div>
                                </a>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                  <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                  </div>
                                </div>
                              </div>
                              <div class="panel panel-border panel-default">
                                <a data-toggle="collapse" href="#collapseThree">
                                    <div class="panel-heading">
                                      <h4 class="panel-title">
                                          What are the delivery prices outside of Europe?
                                          <i class="fa fa-chevron-down"></i>
                                      </h4>
        
                                    </div>
                                </a>
                                <div id="collapseThree" class="panel-collapse collapse">
                                  <div class="panel-body">
                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                  </div>
                                </div>
                              </div>
        
                            </div>
        
                        </div><!--  end acordeon -->
        
                        </div>

                    </div>
                </div>
                <div class="section">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12"><h4>Similar Products</h4></div>
                            {% for product in instance.tag_related_products %}
                                <div class="col-md-4 col-sm-4">
                                <div class="card-image card-product">
                                    <a href="{% url 'product_page' product.slug %}">
                                        <img {% if product.image %}
                                                src="{{ product.image.url }}"
                                             {% else %}
                                                src="{% static 'assets/images/no-photo.jpg' %}"
                                             {% endif %}
                                                alt="Rounded Image"
                                             class="img-rounded img-responsive"
                                        >
                                    </a>
                                    <div class="details">
                                        <div class="description">
                                            <div class="name">{{ product }}</div>
                                            <div class="meta">{{ product.brand|default_if_none:"No Brand" }}</div>
                                        </div>
                                        <div class="actions">
                                            <h5>{{ product.tag_final_price }}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>


{% endblock %}
{% block extra_js %}



{% endblock %}